<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

        <meta name="robots" content="index,follow,noodp"/>
        <meta name="googlebot" content="index,follow"/>
        <meta name="subject" content="Weather, Travel, Routes, Maps"/>

        <meta name="application-name" content="Forecast My Drive"/>
        <meta name="description" content="Map weather forecasts along your driving or travel route"/>

        <meta property="og:url" content="https://forecastmydrive.com"/>
        <meta property="og:title" content="Forecast My Drive"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://forecastmydrive.com/images/misc/fmd_apple.png"/>
        <meta property="og:site_name" content="Forecast My Drive"/>
        <meta property="og:locale" content="en_US"/>
        <meta property="og:description" content="Map weather forecasts along your driving or travel route"/>

        <meta name="twitter:url" content="https://forecastmydrive.com"/>
        <meta name="twitter:title" content="Forecast My Drive"/>
        <meta name="twitter:descriptions" content="Map weather forecasts along your driving or travel route"/>
        <meta name="twitter:image" content="https://forecastmydrive.com/images/misc/fmd_apple.png"/>
                
        <meta itemprop="name" content="Forecast My Drive"/>
        <meta itemprop="description" content="Map weather forecasts along your driving or travel route"/>
        <meta itemprop="image" content="https://forecastmydrive.com/images/misc/fmd_apple.png"/>

        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="apple-mobile-web-app-title" content="FMDrive"/>
        <link rel="apple-touch-icon" href="https://forecastmydrive.com/images/misc/fmd_apple.png"/>

        <meta name="mobile-web-app-capable" content="yes"/>

        <link rel="icon" type="image/png" href="/images/misc/fmd_favicon_32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/images/misc/fmd_favicon_16x16.png" sizes="16x16" />

        <link href="/css/{{vendorCSS}}" rel="stylesheet" type="text/css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-101177385-1', 'auto');
            ga('send', 'pageview');
        </script>

        {{{_sections.head}}}

    </head>
    <body>
        <!-- start of new stuff -->
        <nav class="nav has-shadow" id="top">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item" href="../">
                        <img src="/images/misc/fmd_apple.png" style="margin-right:.5em;" alt="Forecast My Drive Icon"/>
                        FORECAST MY DRIVE
                    </a>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class="nav-right nav-menu">
                    <a href="/" class="nav-item is-tab">Home</a>
                    <a href="/about" class="nav-item is-tab">About</a>
                    <a href="/about#faq" class="nav-item is-tab">FAQ</a>
                    {{!--<span class="nav-item">
                    <a class="button is-info">
                        Get App
                    </a>
                    </span>--}}
                </div>
            </div>
        </nav>
        
        {{{body}}}
        {{{_sections.body}}}
    </body>
</html>