{{#section 'head'}}

  <title>Forecast My Drive - Not Found</title>

  <style>
    img { height: 144px; width: 144px; margin-top: 5%; }
  </style>

{{/section}}

<div class="has-text-centered">
  <img src="/images/misc/not_found.png">
  <h2 class="title is-2">Couldn't find what you were looking for, sorry!</h2>
</div>