{{#section 'head'}}

  <title>FMD - About</title>

  <style>
    .section {padding: 0; margin-top: 3em; margin-bottom: 3em;}
    .section-header {color: #3A7CA5 !important;}
    #builtwith ul li {list-style: none;}
    #about p {margin-left: 5%; margin-right: 5%;}
  </style>

{{/section}}

<div class="content container">

  <div id="about" class="section">
    <h2 class="section-header has-text-centered">About Forecast My Drive</h2>
    <p>
      Forecast My Drive maps weather forecasts along your driving or travel route. Whether it's a short drive or long road trip, Forecast My Drive will help give you an idea 
      of what the weather is like along your route.
    </p>
  </div>

  <div id="faq" class="section">
    <h2 class="section-header has-text-centered">Frequently Asked Questions</h2>
    <ul>

      <li><h3>Why are the weather forecasts not placed evenly along the route?</h3></li>
      <p>
        The weather forecasts are currently selected based on the distance between legs of the route. This means weather forecasts that are automatically plotted may not 
        always be in the optimal position. Forecast My Drive is working to improve how weather forecasts are selected, but in the meantime recommends you manually enter waypoints along 
        your route for the best results.
      </p>

      <li><h3>Why can I only add three waypoints?</h3></li>
      <p>
        To keep the website free and available to everyone it's necessary to limit the number of route and weather forecasts that are made. Forecast My Drive is working on an iOS app
        that will allow you to add more waypoints.
      </p>

      <li><h3>Why is the location I entered not working?</h3></li>
      <p>
        Forecast My Drive uses location information that is researched generated by a community of people for free. This means not every location will have information for it.
      </p>

      <li><h3>Why does the weather forecast time seem to be off?</h3></li>
      <p>
        Forecast My Drive currently makes all weather forecasts using US Central Time at the current date and time the request was made. There are future plans to submit the request
        using the user's timezone, and to allow them to choose the date and time of the request.
      </p>

      <li><h3>Can I change the date and time for my route's departure?</h3></li>
      <p>
        There are plans to allow users to select the date and time for their departure. Stay tuned for this update!
      </p>

      <li><h3>It doesn't display the route I normally take, can I change it?</h3></li>
      <p>
        You are not able to change the route that is generated for your waypoints and destination.
      </p>

      <li><h3>Why does the site look weird on my computer?</h3></li>
      <p>
        Forecast My Drive does its best to work and look good on any device and most browsers. To get the best experience, though, it's recommended you use <a href="https://google.com/chrome/">Chrome</a> 
        or <a href="https://firefox.com">Firefox</a> on the desktop or the default browser on your phone.
      </p>

      <li><h3>Why are parts of the site not on showing my screen?</h3></li>
      <p>
        Forecast My Drive does its best to work and look good on any device and most browsers. To get the best experience, though, it's recommended you use <a href="https://google.com/chrome/">Chrome</a> 
        or <a href="https://firefox.com">Firefox</a> on the desktop or the default browser on your phone.
      </p>

      <li><h3>Is there an app?</h3></li>
      <p>It's in the works!</p>

      <li><h3>Who can I contact?</h3></li>
      <p>If you have any questions, recommendations, or anything else please get in touch by emailing <a href="mailto:metalsh33p@gmail.com">metalsh33p@gmail.com</a> with the subject "Forecast My Drive".</p>

    </ul>
  </div>

  <div id="builtwith" class="section has-text-centered">
    <h2 class="section-header">Built With</h2>
    <p>A special acknowledgement and thank you to the following services and resources that help power Forecast My Drive!</p>
    <ul>
      <li>Map data <a href="https://openstreetmap.org">© OpenStreetMap contributors</a></li>
      <li>Weather results by <a href="https://darksky.net">Dark Sky</a></li>
      <li>Routing results by <a href="https://mapquest.com">MapQuest</a></li>
      <li>Website framework by <a href="https://bulma.io">Bulma.io</a></li>
      <li>Weather icons by <a href="https://darkskyapp.github.io/skycons/">Dark Sky</a></li>
      <li><a href="https://thenounproject.com/term/map-marker/35686/">Map marker</a> icon by <a href="https://thenounproject.com/MisterPixel/">Mister Pixel</a></li>
      <li><a href="https://thenounproject.com/term/steering-wheel/963369/">Steering wheel</a> icon by <a href="https://thenounproject.com/Mr.D34DLY/">Ersin</a></li>
      <li><a href="https://thenounproject.com/term/map/972149/">Map</a> icon by <a href="https://thenounproject.com/coquet_adrien/">Adrien Coquet</a></li>
    </ul>
  </div>

  {{#section "body"}}
    <script>
        (function() {
            var burger = document.querySelector('.nav-toggle');
            var menu = document.querySelector('.nav-menu');
            burger.addEventListener('click', function() {
                burger.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
        })(); 
    </script>
  {{/section}}
  
</div>