{{#section 'head'}}

  <title>Forecast My Drive</title>

  <link href="/css/{{customCSS}}" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" rel="stylesheet" />
{{/section}}

<div id="content-container" class="card">
  <header id="nav-header" class="card-header">
    <p class="card-header-title">
      Route Info
    </p>
    <a id="nav-angle" class="card-header-icon">
      <span class="icon">
        <i id="route-toggle" class="fa fa-angle-down"></i>
      </span>
    </a>
  </header>
  <div id="nav-card" class="card-content">
    <form id="travel-form">
        <div class="content">
          <label class="label">From</label>
          <div id="from-group" class="control is-grouped field">
            <p class="control is-expanded">
                <input id="from-city" class="input" type="text" placeholder="Chicago, IL">
            </p>
            <p id="waypoint-btn" class="control">
              <a href="" class="button is-primary">
                <span class="icon">
                  <i class="fa fa-plus"></i>
                </span>
              </a>
            </p>
          </div>
          <p id="from-error" class="help hide is-danger"></p>
          <div id="waypoint-grp">
            <div class="control is-grouped hide-waypoint waypoint">
              <p class="control is-expanded">
                <input class="input waypoint-text" type="text" placeholder="Waypoint">
              </p>
              <p class="control">
                <a href="" class="button is-danger del-waypoint">
                  <span class="icon">
                    <i class="fa fa-minus"></i>
                  </span>
                </a>
              </p>
            </div>
          </div>
          <label class="label">To</label>
          <p class="control">
              <input id="to-city" class="input" type="text" placeholder="Madison, SD">
          </p>
          <p id="to-error" class="help hide is-danger"></p>
        </div>
    </form>
    <div id="error-field" class="hide is-danger"></div>
    <div id="mapquest-attr"><a href="https://www.mapquest.com">Routing Powered by MapQuest</a></div>
    <div id="mapquest-warning">Use of directions and maps is subject to the MapQuest Terms of Use. We make no guarantee of the accuracy of their content, road conditions or route usability. You assume all risk of use.</div>
  </div>
  <header id="weather-header" class="card-header hide-results">
    <p class="card-header-title">
      Weather Forecast
    </p>
    <a class="card-header-icon">
      <span class="icon">
        <i id="weather-toggle" class="fa fa-angle-down"></i>
      </span>
    </a>
  </header>
  <div id="results-card" class="card-content hide-results">
    <div class="content">
      <div id="result-waypoint" class="weather-result">
        <div class="step-title has-text-centered">
          <h1 id="result-point" class="title is-5"></h1>
          <h2 id="result-sum" class="subtitle is-5"></h2>
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <a id="to-result-left" href="#">
              <span class="icon is-large result-arrow">
                <i class="fa fa-angle-left"></i>
              </span>
            </a>
          </div>
          <div id="skycon-container" class="column">
            <canvas id="skycon"></canvas>
          </div>
          <div class="column">
            <a id="to-result-right" href="#">
              <span class="icon is-large result-arrow is-pulled-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
      </div>
      <div class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Feels Like</p>
            <p id="result-feels" class="title is-4"></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Temp</p>
            <p id="result-temp" class="title is-4"></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Precip</p>
            <p id="result-precip" class="title is-4"></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Wind</p>
            <p id="result-wind" class="title is-4"></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Visibility</p>
            <p id="result-visibility" class="title is-4"></p>
          </div>
        </div>
      </div>
        <div class="column is-mobile"></div>
      </div>
      <div id="card-position" class="hide">
        <i id="result-dot-0" class="result-dot fa fa-circle" aria-hidden="true"></i>
      </div>
      <div id="darksky-attr">
        <div>Weather Results</div>
        <a href="https://darksky.net/poweredby/"><img id="darksky-logo" src="/images/misc/poweredby-oneline.png"/></a>
      </div>
    </div>
  </div>
  <footer class="card-footer has-text-centered">
    <a id="submit-btn" class="card-footer-item button is-primary is-medium is-paddingless" href="/api/weather">Forecast My Drive</a>
  </footer>
</div>

<div id="map"></div>

{{#section 'body'}}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <script src="https://open.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=Q13kXSgPFvF7km3AAf6OkG1n7HJ8nXpQ"></script>
  <script src="https://open.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=Q13kXSgPFvF7km3AAf6OkG1n7HJ8nXpQ"></script>
  <script src="/js/{{bundledJS}}"></script>
{{/section}}