body {
    overflow: hidden;
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
}
html { 
    overflow: hidden;
    height: 100%; 
    margin: 0px;  
    padding: 0px; 
}
#map {
    width: 100%;
    height: 100%;
}
.hide-waypoint, .hide-results, .hide {
    /* TODO get rid of the !important */
    display: none !important;
}
#top {
    position: fixed;
    width: 100%;
}
#content-container {
    position: fixed;
    top: 11%;
    left: .6%;
    padding: 0;
    width: 380px;
    z-index: 1;
    background-color: #FFFFFF;
}
@media (max-width: 768px) {
    #content-container {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    #map {
        width: 100%;
        height: 100%;
    }
}
#results-loading {
    display: none;
    margin-left: 35%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#result-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
}
.results-table {
    display: inline-table;
    vertical-align: top;
}
.result-point {
    margin: 0;
}
#results-card {
    padding-top: 0;
    overflow-y: scroll;
}
#form-card {
    padding-bottom: 0;
    overflow: visible;
}
#nav-card {
  max-height: 600px;
}
.del-waypoint {
    margin-left: 4px;
}
.hide-submit {
    display: none;
    width: 0;
    height: 0;
}
#date-label {
    vertical-align: center;
    font-size: 16px;
}
#date-line {
    width: 290px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.117647);
}
#depart-button {
    padding-left: 2px;
    padding-right: 2px;
    min-width: 0;
}
/*TODO temporarily display none, WIP*/
#date-container {
    display: none;
}
#card-position {
    text-align: center;
}
#weather-content {
  padding-bottom: 0;
}
#nav-card {
  box-shadow: 0 1px 2px rgba(10,10,10,.1);
}
.result-arrow {
  margin-top: 50%;
}
.result-dot {
  margin-left: 1.5%;
  margin-right: 1.5%;
}
#submit-btn {
    border: 0;
    border-radius: 0;
}
#results-card {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}
a, a:visited, a:hover, a:active {
  color: #3A7CA5;
}
#waypoint-grp, #from-group {
    margin-bottom: 1em;
}
#skycon {
    width: 220px;
}
#skycon-container {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}
#mapquest-attr {
    text-align: center;
}
#mapquest-warning {
    text-align: center;
    font-size: 0.75em;
}
#darksky-attr {
    text-align: center;
    font-weight: 600;
    font-size: 1.25em;
    color: #000;
}
#darksky-logo {
    height: 75%;
    width: 75%;
    margin-top: -5%;
}